body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
a{
    text-decoration: none;
}
.head{
    max-width: 80%;
    margin: 0 auto;
}

.inner-heaf{
    float: left;
    width:40%;
    padding: 2%;
    margin: 2%;
    height: 500px;

    
}

.rt{
    margin-left: 7%;
}
.inner-heaf h1{
font-family: 'Bebas Neue', cursive;
font-size: 80px;
font-weight: 700;
text-align: left;
color: #363958;
margin: 0;
}

.inner-heaf .hero-text{
    color: #FF8367;
    font-size: 80px;
font-weight: 700;
}

.rt p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    width: 309px;
    margin-bottom: 50px;
}

.rt .link-btn{
padding: 15px 25px;
border-radius: 5%;
background-image: linear-gradient(#FF8063,#F46060);
color: white;

}
.inner-heaf img{
    width: 80%;
    margin: 0 auto;
}